[submodule "pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-extras"]
	path = lib/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
